/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: "Poppins", sans-serif; */


:root{
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --gray: #eee;
    --text_gray:#656565;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning:#FBC02D;
    --light-warning: #f7e2af;
    --sucess:#388E3C;
    --light-sucess: #BBF7D0;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

.box{
    width: 100%;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.box .FORM{
    background: var(--light);
    border-radius: 20px;
    width: 50%;
    padding: 20px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
form h1{
  text-align: center;
  color: var(--primary);
}
form label{
  color: var(--text_gray);
}
form input[type="text"],
[type="email"],
[type="date"],select{
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: calc(100%);
  font-size: 16px;
  outline-offset: 1px;
  outline-color: var(--primary);
  box-sizing: border-box;
}

.FORM form .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.col{
  width: calc(100% / 2 - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.radio-box{
  display: flex;
  padding: 15px 15px 15px 0;
  gap: 10px;
  font-size: 16px;
}
form input[type="radio"]{
width:16px;
height:16px;
}
.gender-details{
  display: flex;
}
.submit-btn{
  width: 250px;
  padding: 15px;
  border: none;
  background: var(--sucess);
  color: var(--light);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
}
.btn-details{
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:768px) {
  .box .FORM{
    width:85%;
  }
  .col{
    width: 100%;
  }
  
}